include *.txt
recursive-include berry *.py
recursive-include berry *.txt
recursive-include docs *.odg
recursive-include docs *.pdf
recursive-include docs *.png
recursive-include docs *.svg
recursive-include docs *.tex
recursive-include viewers *.py
include docs/TODO
include docs/INSTALL
include docs/RELEASENOTES